[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
dateparser = "*"
websockets = "==9.0"
black = "*"
requests = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.7"
